
@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form id="searchForm" style="float:right; margin-top:8px; width:20%; height:auto" >
        <input type="text" id="Aranan" name="Aranan" placeholder="Arama Yap" />
        <input type="submit" id="BlogArama"  />
    </form>
}


